
<ng-progress #bar [direction]="'ltr+'" [min]="20" [max]="1" [speed]="200"  [trickleSpeed]="300"
             [spinner]="true" [spinnerPosition]="'right'" [thick]="false" [meteor]="true"
             [color]="'purple'" [ease]="'linear'"></ng-progress>
<div class="container center"  *ngIf="!flag">

  <h4 >Ads Posted By You</h4>
    <img src="../../assets/plus-circle-solid.svg" />
    <h3 >You Don't Have Any Ads Here</h3>
    <h3 >Place Your Ads Here</h3>
    <button class="btn" (click)="route.navigate(['addbook'])">Submit Free Ad</button>

</div>
<div class="container" *ngIf="flag">



  <h4 >Ads Posted By You</h4>
    <div  class="card" *ngFor="let singlebook of addsArray" >
      <div class="card-head" >
      <img  src="{{singlebook.imageLink}}" alt="Please Wait" >
      <span (click)="onRemoveAdd(singlebook.bookid)" ><i class="fas fa-trash-alt"></i></span>
      </div>
        <div class="card-body">
          <span class="card-title">Name: {{singlebook.bookName}}</span>
          <span class="card-text" >Author: {{singlebook.authorName}}</span>
          <span class="card-text" >Price: {{singlebook.price|currency:'INR':true:'.0-2'}}</span>
          <span class="card-text" >Condition: {{singlebook.condition}}</span>
          <span class="card-text" >Posted On: {{singlebook.createdAt}}</span>
        </div>

  </div>

</div>
